.homePage {
  background-color: black;
}
.detailsPage {
  background-image: url("../../public/bolts.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.headerHome {
  font-size: 60px;
}
.headerBlack {
  font-size: 60px;
}
.headerBlack:hover {
  font-size: 60px;
  cursor: pointer;
}
.headerWhite {
  color: white;
  font-size: 50px;
}
.paragraphWhite {
  color: white;
  font-size: 25px;
}
.paragraphBlack {
  color: black;
  font-size: 25px;
}
.infoHeader {
  padding-top: 30px;
  margin-top: 0;
  font-size: 40px;
}
.accordionDiv {
  width: 60%;
  margin: auto;
}
.accordion {
  margin-top: 50px;
}
.tableHeader {
  font-size: 50px;
}
.menuButton:hover {
  cursor: pointer;
}
.menuItem {
  font-size: 15px;
  /* font-weight: bold; */
  padding-left: 10px;
  padding-right: 10px;
}
.headerTitle:hover {
  cursor: pointer;
}
.accordionTitle {
  font-size: 20px;
  font-weight: bold;
}
.accordionBody {
  height: 300px;
  overflow: auto;
}

@media (max-width: 768px) {
  .headerHome {
    font-size: 45px;
  }
  .headerBlack {
    font-size: 30px;
  }
  .headerBlack:hover {
    font-size: 30px;
    cursor: pointer;
  }
  .headerWhite {
    color: white;
    font-size: 30px;
  }
  .paragraphWhite {
    color: white;
    font-size: 20px;
  }
  .paragraphBlack {
    color: black;
    font-size: 20px;
  }
  .accordionDiv {
    width: 95%;
    margin: auto;
  }
  .infoHeader {
    padding-top: 20px;
    margin-top: 0;
    font-size: 30px;
  }
  .accordionBody {
    height: 200px;
    overflow: auto;
  }
}
